{% extends "AygonTinyMCEBundle::layout.html.twig" %}

{% block content %}

<form action="{{ path('AygonTinyMCEBundle_homepage') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

    {{ form_row(form.task) }}
    {{ form_row(form.dueDate) }}

    {{ form_rest(form) }}

    <input type="submit" />
</form>

{% endblock %}